services:
  bind9:
    image: internetsystemsconsortium/bind9:9.18
    container_name: bind9
    volumes:
      - ../core/dns/named.conf:/etc/bind/named.conf
      - ../core/dns/named.conf.options:/etc/bind/named.conf.options
      - ../core/dns/named.conf.local:/etc/bind/named.conf.local
      - ../core/dns/db.provedor.asa.br:/etc/bind/db.provedor.asa.br
    networks:
      - core-net
    ports:
      - "53:53/udp"
      - "53:53/tcp"
    restart: unless-stopped



  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    volumes:
      - ../core/nginx/proxy.conf:/etc/nginx/conf.d/default.conf
    networks:
      - core-net
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web_app
    restart: unless-stopped
    
  
  web_app:
    image: hashicorp/http-echo:latest 
    container_name: web_app
    environment:
      - HTTP_PORT=80
      - TEXT="Hello from Web App Backend!"
    networks:
      - core-net
    restart: unless-stopped

networks:
  core-net:
    driver: bridge